@import "description";
@import "normalize";
@import "editorials.scss";
@import "flexboxgrid.min";



$white: #fff;
$blue: #0f3a69;
$lightblue: #1f6cc1;

$break-large: 768px;

.lead{
	font-size: 1.4rem;
	font-weight: normal;
	padding: .1em 3em;
	line-height: 140%;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
}

#title{
  margin-top: 0em;
}

.header{
	font-family: $mainfont;
	background-color: $blue;
	color: $white;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&-logo{
  	font-size: 1.5rem;
  	margin-left: 1rem;
		color: $white;
		a{
			text-decoration: none;
		}
  }

	&-slogan{
		font-size: .8em;
		font-style: italic;
		padding-left: 1em;
	}

	&-btn-nav{
		background-color: $blue;
		font-size: 18px;
		border: 0;
		border-radius: .4em;
		color: $white;
		margin-top: 1em;
  }

	&-menu-navbar{
		background-color: $blue;
		text-align: center;
  }

	&-menu-list{
		list-style-type: none;
		height: 0;
		overflow: hidden;
		transition: height 0.3s ease;
		text-align: center;

		&--show{
      height: 230px;
    }

		&-item{
      a{
        color: $white;
				width: 100%;
				padding: 1.2em 1.2em 1.2em 0;
				display: block;
      }
    }
  }

  @media(min-width: $break-large){
    .header{
      height: 70px;
  		transition: all .3s ease;
  		font-size: 1em;
  		overflow: visible;
  		align-items: center;


  		&-btn-nav{
        display: none;
      }

  		&-logo{
				margin-left: 2rem;
  			font-family: Montserrat;
  			font-size: 1.7em;
  			order: 1;
      }

  		&-menu-navbar{
        order: 2;
				background-color: $white;
      }

  		&-menu-list{
  			height: 100%;

  			&-item{
					display: inline-block;
  				border: solid 2px;
  				border-radius: 10px;
  				margin: 0 .2em;
  				a{
  					padding: 0.4em;
  					width: 80px;
						color: $black-text;
          }
        }
      }
    }
  }
}

#content{
	margin-top: 15%;
}
#footer{
	background-color: $lightblue;
}

.contactbar {
  margin-top: 10%;
}
.contactbar-item {
  margin: 1.5em 2em 0 2em;
	list-style: none;
	a {
	  text-align: center;
	  color: #fff;
	  font-size: 2em;
	}
}
#pie{
	color: $white;
	font-size: 10px;

}

.slider{
	justify-content: center;
	&-image{
		max-width: 100%;
		height: auto;

	}
}

.highlightProducts{
	text-align: center;
}
.responsiveimage{
			max-width: 300px;
			height: 300px;
			margin: 1em, 1em;
			padding: 0 2em;
	}

.darken {
  background-image:
	    linear-gradient(
	      rgba(0, 0, 0, 0.7),
	      rgba(0, 0, 0, 0.3)
	    );
	}
.module {
	background-size: cover;
	p{
		font-family: 'Roboto', sans-serif;
	  font-weight: 900;
	  color: white;
	  text-transform: uppercase;
	  font-size: 2rem;
	}
}
